build/.cmake
build/CMakeFiles
build/Testing
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
debug/.cmake
debug/CMakeFiles
debug/build.ninja
debug/cmake_install.cmake
debug/CMakeCache.txt
testing/

