#console {
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

#output {
    flex: 1;
    padding: 10px;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
}

#input {
    padding: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    background-color: #222;
    color: #fff;
}

